[application]
name = "ifsc"
version = "0.0.1"
logLevel = "debug"

[server]
port = "3000"
enableStaticFileServer = false
enableGzipCompression = true
enableDelayMiddleware = false

[excel]
latestData = "http://localhost:3000/db/sample.xlsx"

[database]
name = "ifsc"
user = "ifsc"
password = "ifsc_postgres"
host = "db"
port = 5432
maxPoolSize = 10

[maps]
enabled = false
key = "google-maps-api-key"